
<div>
 
<p>Enter Details to Register:</p>
<br/>
<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
<br />
<p>Password: <input type="password" ng-model="pwd" placeholder="Enter password here"></p>
<br />
<p>Confirm Password: <input type="password" ng-model="pwd" placeholder="Reenter password here"></p>
<br />
<div>
<p> Course:</p> 
<select ng-model="course">
<option value=""></option>
<option value="Java">Java </option>
<option value="AngularJs">AngularJs </option>
<option value="Oracle">oracle </option>
</select>
</div>
<p> <button ng-click="regsister()">Register</button> 

<br />
</div>